

#<IfModule mod_rewrite.c>

 # RewriteEngine On

 # RewriteBase /

 # RewriteCond %{THE_REQUEST} ^GET\ (.*)\.html\ HTTP
 # RewriteRule (.*)\.html$ $1 [R=301]


 # RewriteRule (.*)/index$ $1/ [R=301]


 # RewriteCond %{REQUEST_FILENAME}.html -f
  #RewriteCond %{REQUEST_URI} !/$
  #RewriteRule (.*) $1\.html [L]
#</IfModule>


RewriteEngine On
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]


RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


# To check whether the file exists then set it back internally
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^.*$ $0.html [L]

Options All -Indexes




